<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="example suite 1" verbose="1" >
<listeners>
    <listener class-name = "Utils.Listeners"/>
</listeners>
    <test name="Regression suite 1" >
        <classes>
            <class name="com.employeeapi.testCases.TC_001_Get_All_Employees"/>
            <class name="com.employeeapi.testCases.TC_002_Get_Single_Employee_Record"/>
        </classes>
    </test>
</suite>